@font-face {
  font-family: 'visby-bold';
  font-style: bold;
  src: local('visby-bold'), url(./assets/fonts/visby-bold.woff2) format('woff2');
}

@font-face {
  font-family: 'visby-regular';
  src: local('visby-regular'), url(./assets/fonts/visby-bold.woff2) format('woff2');
}

@font-face {
  font-family: 'cartographsans-regular';
  src: local('cartographsans-regualr'),
  url(./assets/fonts/cartographsans-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'cartographsans-heavy';
  font-style: heavy;
  src: local('cartographsans-heavy'),
  url(./assets/fonts/cartographsans-heavy.woff2) format('woff2');
}

@font-face {
  font-family: 'cartographmono-regular';
  src: local('cartographmono-regular'), url(./assets/fonts/cartographmono-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'cartographmono-bold';
  src: local('cocartographmono-bold'), 
  url(./assets/fonts/cartographmono-bold.woff2) format('woff2');
}

body {
  margin: 0;
  padding: 0;
  font-family: visby-regular;
  background-color: #69DDB8;
  color: #111111;
}
